<% @bo_offset = "bo/КАРТОЧКА ГОРЯЩЕГО ТУРА БЕЗ ОПИСАНИЯ ОТЕЛЯ" %>
<% content_for :submenu do %>
    <%= render '/partials/block_buy_tour' %>
    <br />
<% end %>
<div class="bo-well bo-offset">
    <div class="bo-offset bo-offset-right">
        <h4 style="float:left;">Карточка обычного тура</h4>
        <a style="float:right;" href="#" class="card_print">Распечатать карточку тура</a>
        <table class="table-card">
            <tr>
                <td><span><font>Тур в Египет из Санкт-Петербурга <font>(№207350103)</font></font></span><br /> 
                <i>(Египет &rarr;&nbsp;Хургада)</i> </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>
                                <div class="card_malo_mest"><span class="malo_mest_aiplane">билетов мало</span> &nbsp;&nbsp;&nbsp;  <span class="malo_mest_hotel">мест в отеле мало</span>
                                </div></td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td width="130"><b>Курорт&nbsp;&nbsp;</b></td>
                            <td class="card_table_line">Марса Алам</td>
                        </tr>
                        <tr>
                            <td><b>Заезд</b>&nbsp;&nbsp;</b>
                            <td class="card_table_line">
                                <span class="orange"><b>14.03.2011</b>&nbsp;&rarr; 21.03.2011 (<font class="dot_line" title="Вы будете отдыхать 7 дней / 6 ночей">7 дней</font>)</span>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Отель&nbsp;&nbsp;</b></td>
                            <td class="card_table_line"><a href="#" title="Подробная информация об отеле">Holiday Beach Resort Marsa Alam</a> 4<img src="/img/hotel-star.png"></td>
                        </tr>
                        <tr>
                            <td><b>Номер&nbsp;&nbsp;</b></td>
                            <td class="card_table_line">стандартный</td>
                        </tr>
                        <tr>
                            <td><b>Питание&nbsp;&nbsp;</b></td>
                            <td class="card_table_line"><span class="label">завтрак и ужин (HB)</span></td>
                        </tr>
                        <tr>
                            <td><b>Цена&nbsp;&nbsp;</b></td>
                            <td><span class="card_price">78.900</span> руб. <br />
                                <font size="-1"><i><img src="/img/person.png"/><img src="/img/person.png"/> 2 взрослых</i><br />
                                <i><img src="/img/child.png"/> 1 ребенок</i></font>
                            </td>
                            <tr>
                                <td class="hot_grey">&nbsp;</td>
                                <td class="card_table_line">
                                    <span class="label success">Цена указана за ВСЕХ туристов.</span>   
                                </td>
                            </tr>
                            <tr>
                                <td><b>Информация&nbsp;&nbsp;</b></td>
                                <td><span>
                                    <b>В цену включено:</b> авиаперелет Отель/Круиз,  Страховка, Пакеты услуг. Оплата по ЦБ без процентов. <br /> 
                                    <b>Дополнительно оплачивается:</b> Топливный сбор - 50 евро/чел, виза - 55 евро/чел.<br />
                                    <b>Транспорт:</b> Санкт-Петербург - Ираклион. Экономический класс. ГТК РОССИЯ Ираклион - Санкт-Петербург. Экономический класс. ГТК РОССИЯ</span> <br /> 
                                    <span class="label warning">Актуальность тура уточняйте у менеджеров по телефону.</span>
                                </td>
                            </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
<br />
