<% @bo_offset = "bo/Где купить туры" %>
<div class="bo-well bo-offset-right">
    <div class="bo-offset bo-offset-right">
        <img style="float:left" src="/img/flags/Turkey.png"/>
        <ul class="pills pills_submenu">
            <li><a href="#">Алания</a></li>
            <li><a href="#">Кемер</a></li>
            <li><a href="#">Сиде</a></li>
            <li><a href="#">Белек</a></li>
            <li><a href="#">Мармарис</a></li>
            <li><a href="#">Бодрум</a></li>
            <li><a href="#">Анталия</a></li>
            <li><a href="#">Кудашасы</a></li>
            <li><a href="#">Стамбул</a></li>
            <li><a href="#">Фетхие</a></li>
        </ul>
        <div class="clearfix"></div>
        <h3>Туры в Турцию из Санкт-Петербурга</h3>

        <img class="bo-img" src="/img/countries/tury-v-turciyu.jpg"/>
        <p><strong>Турция</strong> – это страна развлечений, удовольствий и, самое главное, доступного отдыха. Сегодня горящие туры в Турцию из Санкт-Петербурга очень популярны, и с каждым годом число туристов, побывавших в этой стране, увеличивается. Приятный климат, заставляющий забыть серые и холодные города России, помогает быстро адаптироваться на чужой земле.</p>

        <p>Мало кому известно, да оно и не сильно  афишируется, одно из самых таинственных и загадочных мест Турции, которые вы можете увидеть, если выберите <strong>горящие туры в Турцию</strong>. Это  замок Алара-Хан и караван-сарай Серафса-Хан на Великом Шелковом Пути. Эти две постройки были возведены во времена, когда честь и достоинство были одними из главных составляющих человеческой жизни, когда великие предводители завоевывали земли друг друга и, в то же самое время, старались обеспечить мир во всем мире, когда в небе кружили величественные хищные птицы – стражники своих владений.</p>

        <p>Одним словом <strong>туры в Турцию из Санкт-Петербурга</strong>, на отдых в этой прекрасной стране – это не только недорогой сервис, гостеприимные жители и много еще приятного российскому глазу, но и место, где хранится многовековая история, наследие всего мира, о котором, к сожалению, не так много знают даже жители этой страны. Тем самым, еще более превращая туры в Турцию из Петербурга в увлекательное приключение.</p>

        <p>У Вас есть возможность подобрать тур у нас на сайте самостоятельно (для этого воспользуйтесь кнопкой <strong>"Поиск тура в Турцию"</strong>, которая находится чуть выше) или обратитесь к нашим консультантам по тел: <strong>(812) 643-34-94</strong> и мы поможем подобрать для Вас тур, учитывая все Ваши пожелания.</p>
        <a  href="#" class="btn danger">Поиск тура в Турцию</a><br /><br />
    </div>
</div>