<% @bo_offset = "bo/Экскурсионные туры по Европе" %>
<div class="bo-well bo-offset-right">
    <div class="bo-offset">
        <h3>Экскурсионные туры по Европе</h3>
    </div>
    <div class="bo-offset bo-offset-right">
        <ul class="pills pills_submenu">
            <li><a href="#">Германия. Туры в Берлин из Санкт-Петербурга.</a></li>
            <li><a href="#">Португалия. Туры в Лиссабон из Петербурга.</a></li>
            <li><a href="#">Франция. Туры в Париж из Санкт-Петербурга.</a></li>
            <li><a href="#">Израиль. Туры в Иерусалим и Тель-Авив из Санкт-Петербурга.</a></li>
            <li><a href="#">Испания. Балеарские острова. Виллы.</a></li>
        </ul>
    </div>
</div>
<br />
<div class="bo-well bo-offset-right">
    <div class="bo-offset">
        <h3>Добро пожаловать в Европу!!!</h3>
    </div>
    <div class="bo-offset bo-offset-right">
        <p>Турфирма «Бюро отпусков» создана специально, для вашего беззаботного отдыха - мы уже обо всём позаботились за <strong>Вас</strong> для <strong>Вас</strong> . А Вам осталось только <a href="#">подобрать</a> экскурсионные туры по Европе из Санкт-Петербурга. Ведь по статистике туры по Европе, это самый востребованный вид отдыха для жителей второй столицы России.</p>
        <p>Множество людей стремятся познать европейскую культуру, учитывая все эти факты, мы подобрали самые занимательные <strong>экскурсионные туры по Европе</strong>. Будь то Франция, Германия или Италия. В каждой стране присутствуют свои достопримечательности, великолепные скульптуры и памятники. Для многих людей самым желанным местом для отдыха остается Париж. А мечтой для каждого ребенка остается Диснейленд, со всеми его сказочными персонажами и веселыми аттракционами. Грандиозные постройки Рима привлекают людей не только своей красотой, но и ощущением древности в каждой скульптуре. Существуют такие места, где все является готовым музеем. А посетив Венецию, вы сможете перенестись в те далекие времена рыцарей и прекрасных дам. Данные экскурсионные туры по Европе предусмотрены для настоящих ценителей «Старого света».</p>
        <p>Выбор тура остается за вами, где вы решаете, что именно для вас предпочтительней и желанней. В нашей базе собран огромный выбор туров по странам Европы, так же имеется более трех тысяч отелей. Так что даже самый требовательный турист сможет насладиться всеми красками жизни, обратившись в нашу компанию. Мы регулярно пополняем нашу базу новыми турами, так же частыми являются оздоровительные туры по выгодным ценам. Вам всего лишь необходимо просматривать конкретную информацию по турам в Европу из Санкт-Петербурга.</p>
        <p>Турфирма «Бюро отпусков» уже длительное время работает над организацией туров. Если вы сомневаетесь с выбором того или иного тура, вы можете обратиться к нашим консультантам по тел: (812) 643-34-94 и мы подберем для вас персональный тур, где будут учтены все ваши пожелания по поводу отдыха. Большое количество людей пользуются услугами именно нашей турфирмы. Так как мы в каждом конкретном туре стараемся поймать баланс качества и приемлемой цены. Обращайтесь прямо сейчас и мы организуем для вас незабываемый отдых!</p>
    </div>
</div>