<% @bo_offset = "bo/Бюро отпусков" %>
<div class="bo-well bo-offset-right">
    <div class="bo-offset bo-offset-right">
        <h3>Португалия. Туры в Лиссабон из Петербурга</h3>
        <p>Наша компания "Бюро отпусков" предлагает Вам великолепный тур в Лиссабон из Петербурга на 8 дней, в течение которых вы посетите множество значимых достопримечательностей в Лиссабоне и других близлежащих городах, а также сможете хорошо отдохнуть.</p>
        <div style="float:left">
            <img class="bo-img" style="display:block" src="/img/countries/lissabon1.jpg"/>
            <img class="bo-img" style="display:block" src="/img/countries/lissabon2.jpg"/>
            <img class="bo-img" style="display:block" src="/img/countries/lissabon3.jpg"/> 
            <a style="margin-top:35px;margin-left:44px" class="btn danger large" href="#">Отправить заявку на тур</a>
        </div>
        <h4>Тур в Лиссабон с обзорной экскурсией по городу + другие близлежащие города.</h4>
        <p>Программа тура:</p>
        <ul>
            <li><strong>1-ый день:</strong> прибытие в Лиссабон и размещение в отеле.</li>
            <li><strong>2-ой день:</strong> обзорная экскурсия по Лиссабону.</li>
            <li><strong>3-ий день:</strong> посещение загородного королевского дворца Пены (вход оплачивается на месте), осмотр города Синтра, посещение мыса Рока, осмотр курортных окрестностей, которые находятся на побережье Атлантического океана.</li>
            <li><strong>4-ый день:</strong> свободное утро, пешеходная экскурсия по городу, с посещением национального дворца Ажуда, монастыря Иеронимитов, Башни Белема, Памятника Первооткрывателям и Музея Карет.</li>
            <li><strong>5-ый день:</strong> свободный день. По желанию экскурсия в Порто (оплачивается на месте).</li>
            <li><strong>6-ой день:</strong> свободный день. По желанию экскурсия в Алкубасу, в город Обидуш, Назаре, Баталью и в Фатиму (оплачивается на месте).</li>
            <li><strong>7-ой день:</strong> свободное время, экскурсия в город Эвора, загородный королевский мраморный дворец Вила Висоза и осмотр сельской панорамы города Эштремоша.</li>
            <li><strong>8-ой день:</strong> трансфер в аэропорт.</li>
        </ul>
        <p>Также, есть возможность остаться и продолжить свой отдых на одном из побережий Португалии.</p>
        <p>В стоимость тура в Лиссабон включено:</p>
        <ul>
            <li>проживание в отеле (3 звезды) с завтраком;</li>
            <li>все трансферы, которые включены в программу;</li>
            <li>экскурсии с русскоговорящим гидом, которые указаны в программе без дополнительной платы.</li>
        </ul>
        <p>Дополнительная программа (оплачивается на месте):</p>
        <ul>
            <li>экскурсия в Порто (100 Евро);</li>
            <li>экскурсия в город Обидуш, Алкубасу, Назаре, Баталью и в Фатиму (90 Евро).</li>
        </ul>
        <p>Последовательность экскурсий может быть изменена.</p>
        
    </div>
</div>