<% @bo_offset = "bo/СПИСОК ВСЕХ ГОРЯЩИХ ТУРОВ" %>
<div class="bo-well bo-offset bo-offset-right">
    <div class="bo-offset bo-offset-right">
        <h3>Список всех горящих туров</h3><br />
        <img style="float:left; margin-top: 3px; margin-right: 10px;" src="/img/select.png" alt="" width="32" height="32" />
        <ul class="pills">
            <li><a href="#">Все страны</a></li>
            <li><a href="#">Греция</a></li>
            <li><a href="#">Египет</a></li>
            <li><a href="#">Испания</a></li>
            <li><a href="#">Тайланд</a></li>
            <li><a href="#">Турция</a></li>
        </ul>
    </div>
</div>
<br />
<!--Tour.start -->
<div class="bo-well bo-offset bo-offset-right">
     <div class="bo-offset bo-offset-right">
        <table class="no-table"> 
            <tr> 
                <td>
                    <a href="#" title="Заказать тур"><img class="bo-img" src="/img/hotel1.jpg"></a>
                </td>
                <td>
                    <h4>
                        Из Санкт-Петербурга в 
                            <span class="orange">Испанию</span>
                    </h4>
                    <i>(Коста Дорада)</i>
          
                    <table>
                        <tr>
                            <td><b>Заезд:&nbsp;&nbsp;</b></td>
                            <td>
                                <span class="orange">с <b>14 марта</b> на <font title="Вы будете отдыхать 7 дней / 6 ночей">7 дней</font></span>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Отель:&nbsp;&nbsp;</b></td>
                            <td>
                                <a href="#">Holiday Beach Resort Marsa Alam</a> 4<sup><img src="/img/hotel-star.png"></sup>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Питание:&nbsp;&nbsp;</b></td>
                            <td><span class="label">завтрак и ужин (HB)</span></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>
                                <a href="#">Подробно о туре</a><br />
                                <small>Горящий тур в Испанию из Санкт-Петербурга</small></td>
                        </tr>
                    </table>

                </td> 
                <td>
                    <a class="hot_buy_link" href="#">Заказать</a><br />за <span class="bo-hot-price">28.900</span> руб.</td>
            </tr>
        </table>
    </div>
</div>
<br />
<!--Tour.end -->

<!--Tour.start -->
<div class="bo-well bo-offset bo-offset-right">
    <div class="bo-offset bo-offset-right">
        <table class="no-table"> 
                <tr> 
                    <td>
                        <a href="#" title="Заказать тур"><img class="bo-img" src="/img/nophoto.jpg"></a>
                    </td>
                    <td>
                        <h4>Из Санкт-Петербурга в 
                            <span class="orange">Испанию</span>
                        </h4>
                        <i>(Коста Коста)</i>
                        
                        <table>
                            <tr>
                              <td><b>Заезд:&nbsp;&nbsp;</b></td>
                              <td>
                                <span class="orange">c <b>15 марта</b> на <font title="Вы будете отдыхать 7 дней / 6 ночей">7 дней</font></span>
                              </td>
                            </tr>
                            <tr>
                                <td><b>Отель:&nbsp;&nbsp;</b></td>
                                <td><a href="#">California Palace</a> 5<sup><img src="/img/hotel-star.png"></sup>
                            </td>
                            </tr>
                            <tr>
                                <td><b>Питание:&nbsp;&nbsp;</b></td>
                                <td><span class="label">завтрак (BB)</span></td>
                            </tr>
                                <tr>
                                <td>&nbsp;</td>
                                <td><a href="#">Подробно о туре</a><br />
                                <small>Дешевый тур в Испанию из Санкт-Петербурга</small></td>
                            </tr>
                        </table>
                    </td> 
                    <td>
                        <a class="hot_buy_link" href="#">Заказать</a>
                        <br />
                        за 
                        <span class="bo-hot-price">23.760</span> руб.
                    </td>
                </tr>
        </table>
    </div>
</div>
<br/>
<!--Tour.end -->

<!--Vnimanie.start -->
<div class="bo-offset bo-offset-right alert-message block-message warning">
    Вашему вниманию предложены несколько примеров горящих туров. Не нашли ничего подходящего? Просто обратитесь в любой из наших офисов или <a href="#" onclick="$(&#39;#hot-tour-dialog&#39;).dialog(&#39;open&#39;);">отправьте заявку на подбор горящего тура</a>. Наши менеджеры обязательно найдут для вас отличный горящий тур.
</div>
<!--Vnimanie.end -->
