<% @bo_offset = "bo/Бюро отпусков" %>
<% content_for :submenu do %>
    <div class="bo-well bo-offset" id="bo-submenu">
        <ul>
            <li><a href="#">Почему с нами хорошо отдыхать?</a></li>
            <li><a href="#">Работа в турфирме</a></li>
            <li><a href="#">Информация для туроператоров</a></li>
            <li><a href="#">Где купить туры?</a></li>        
        </ul>
    </div>
<% end %>
<div class="bo-well bo-offset-right">
    <div class="bo-offset bo-offset-right">
        <h3>Кратко о Бюро отпусков</h3>
        <p><strong>Турфирма из Санкт-Петербурга «Бюро отпусков»</strong>, несмотря на свой молодой рабочий возраст, уже уверенно завоевывает свою нишу на рынке туристических услуг, стремительно продвигаясь к лидирующим позициям. Все это благодаря нашему сплоченному коллективу, в котором лучшие и самые профессиональные менеджеры. Зная их опыт и компетентность, мы можем смело заявить, что наш сервис обслуживания клиентов не уступает европейскому.</p>
        <p>Существенную роль в становлении <strong>туристической фирмы «Бюро отпусков»</strong> сыграли инвестиции немецких коллег, благодаря которым мы развиваемся и выходим в свет с новыми методами и технологиями обслуживания наших будущих туристов. Качество и высший уровень сервиса для нас — самое главное. Мы ценим свою репутацию, поэтому позиционируем себя как гарант безопасности и надежности во время поездки за рубеж по любому нашему туру.</p>
        <p>Современный подход к работе позволяет нам говорить о последующем лидерстве на рынке туристических агентств Санкт- Петербурга, а в будущем и Москвы. На нашем сайте вы сможете не только <a href="#">найти и забронировать подходящие туры</a>, но и полностью виртуально их оформить. Вам не придется приезжать в офис и тратить свое личное время. Мы подберем именно тот тур, который вам необходим, после чего обязательно согласуем все последующие вопросы с вами по телефону. Подобной системы обслуживания клиентов еще нет на российском рынке туристических услуг, в то время как в Европе используется повсеместно.</p>
        <p>Турфирма «Бюро отпусков» — это настоящий прорыв в размеренной жизни сферы туризма.</p>
        <p>Кстати, у нас в офисе есть небольшой, но уютный детский уголок. Приходите к нам всей семьей!</p>
    </div>
</div>