<% @bo_offset = "bo/СПИСОК ВСЕХ НЕГОРЯЩИХ ТУРОВ" %>
<div class="bo-well bo-offset bo-offset-right">
    <div class="bo-offset bo-offset-right">
        
        <h3>Список всех негорящих туров</h3>
        
<!-- START NEW CONTENT////////////////////////////////////////////////// -->


        <p>Вы хотите улететь из <b>Санкт-Петербурга</b> в <b>Грецию</b> на срок <b>1 неделя</b>.<br /> 
            Желаемые даты вылета <b>с 07.03.2011 по 14.03.2011</b>.<br /> 
            Ваша компания &mdash; <b>2 взрослых</b>.<br /> 
            Категория отеля &mdash; <b>не ниже <img src="http://www.buro-otpuskov.ru/fileadmin/templates/images/hotel-star.png" align="absmiddle"><img src="http://www.buro-otpuskov.ru/fileadmin/templates/images/hotel-star.png" align="absmiddle"><img src="http://www.buro-otpuskov.ru/fileadmin/templates/images/hotel-star.png" align="absmiddle"></b><br /> 
            Желаемое питание &mdash; <b>Завтрак и ужин (HB)</b><br /> 
            Бюджет поездки &mdash; <b>не важен</b><br /> 
            <ul class="pills">
                <li><a href="#">по дате вылета</a></li>
                <li><a href="#">по стоимости</a></li>
                <li><a href="#">по названию отеля</a></li>
                <li><a href="#">Изменить параметры поиска</a></li>
            </ul>
        
 
    </div>
</div><br />
        <div class="bo-offset bo-offset-right alert-message block-message warning">Уважаемые туристы! Обязательно уточняйте актуальность цен и&nbsp;наличие мест по&nbsp;телефону! Мы&nbsp;прилагаем все усилия, чтобы к&nbsp;вам попадали только проверенные предложения, однако, к&nbsp;сожалению, не&nbsp;можем влиять на&nbsp;базы данных туроператоров.</div> 


<!--Selecty.end -->


<!--Tour.start -->
<div class="bo-well bo-offset bo-offset-right">
    <div class="bo-offset bo-offset-right">
        <table  class="no-table"> 
            <tr> 
                <td class="no-table">
                    <a href="#" title="Заказать тур"><img src="/img/hotel1.jpg" class="bo-img"></a>
                    <div class="malo_mest"><span class="malo_mest_aiplane">билетов мало</span> &nbsp;&nbsp;&nbsp;<span class="malo_mest_hotel">мест в отеле мало</span></div>
                </td>
                <td>
                    <h4>полуостров Халкидики, Неа Каликратия</h4>
                    <i>(Греция)</i>
                    <table>
                        <tr>
                            <td><b>Заезд:&nbsp;&nbsp;</b></td>
                            <td>
                                <span>
                                    <nobr>14.03.2011&nbsp;&rarr; 21.03.2011 
                                        <span class="orange" title="Вы будете отдыхать 7 дней / 6 ночей">(7 дней)
                                        </span>
                                    </nobr>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Отель:&nbsp;&nbsp;</b></td>
                            <td>
                                <a href="#" class="hot_black">Mykonos Paradise</a> 4<img src="/img/hotel-star.png"><br />
                                <a href="#">другие туры в этот отель</a></td>
                        </tr>
                        <tr>
                            <td><b>Номер:&nbsp;&nbsp;</b></td>
                            <td>
                                <span class="hot_black">Стандартный</span>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Питание:&nbsp;&nbsp;</b></td>
                            <td>
                                <span class="label">завтрак и ужин (HB)</span>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td><a href="#">Подробно о туре</a></td>
                        </tr>
                    </table>

                </td> 
                <td>
                    <a class="tur_buy_link" href="#">Заказать</a><br /><span class="bo-hot-price">28.900</span> руб.<br />
                    <i>(за всех туристов)</i>
                </td>
            </tr>
        </table>
    </div>
</div>
<br>
<!--Tour.end -->


<!--Tour.start -->
<div class="bo-well bo-offset bo-offset-right">
    <div class="bo-offset bo-offset-right">
        <table class="no-table"> 
            <tr> 
                <td>
                    <a href="#" title="Заказать тур"><img class="bo-img" src="/img/nophoto.jpg" ></a>
                </td>
                <td>
                    <h4>Касторья</h4>
                    <i>(Греция)</i>
    
                    <table>
                        <tr>
                            <td><b>Заезд:&nbsp;&nbsp;</b></td>
                            <td>
                                <span>
                                    <nobr>15.03.2011&nbsp;&rarr; 22.03.2011 
                                        <span class="orange" title="Вы будете отдыхать 7 дней / 6 ночей">(7 дней)</span></nobr>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Отель:&nbsp;&nbsp;</b></td>
                            <td>
                                <nobr>
                                    <a href="#">Esperos Palace Kastoria</a> 5<img src="/img/hotel-star.png" align="absmiddle"><br />
                                    <a href="#">другие туры в этот отель</a>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Номер:&nbsp;&nbsp;</b></td>
                            <td><span>Стандартный</span></td>
                        </tr>
                        <tr>
                            <td><b>Питание:&nbsp;&nbsp;</b></td>
                            <td><span class="label">завтрак и ужин (HB)</span></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td><a href="#">Подробно о туре</a></td>
                        </tr>
                    </table>
                </td> 
                <td>
                    <a class="tur_buy_link" href="#">Заказать</a><br />
                    <span class="bo-hot-price">23.760</span> руб.<br />
                    <i>(за всех туристов)</i>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="pagination pg-center">
    <ul>
        <li class="prev disabled"><a href="#">&larr; Пред.</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li class="next"><a href="#">След. &rarr;</a></li>
    </ul>
</div>
<br>
<!--Tour.end -->
        
<!--TYPO3SEARCH_end--> 
