<% @bo_offset = "bo/КАРТОЧКА ГОРЯЩЕГО ТУРА БЕЗ ОПИСАНИЯ ОТЕЛЯ" %>
<% content_for :submenu do %>
    <%= render '/partials/block_buy_tour' %>
    <br />
<% end %>
<div class="bo-well bo-offset">
    <div class="bo-offset bo-offset-right">
        <h4 style="float:left;">Карточка горящего тура без описания отеля</h4>
        <a style="float:right;" href="#" class="card_print">Распечатать карточку тура</a>
        <table class="table-card">
            <tr>
                <td><span align="left" class="hot_black card_hot_icon">Горящий тур из Санкт-Петербурга в Египет</span><br /><i>(Египет &rarr;&nbsp;Хургада)</i>
                
            </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td width="130"><b>Курорт&nbsp;&nbsp;</b></td>
                            <td class="card_table_line">Марса Алам</td>
                        </tr>
                        <tr>
                            <td><b>Заезд&nbsp;&nbsp;</b></td>
                            <td class="card_table_line"><span class="orange"><b>14 марта</b> на <font title="Вы будете отдыхать 7 дней / 6 ночей">7 дней</font>. Возврат 22 марта</span></td>
                        </tr>
                        <tr>
                            <td><b>Отель&nbsp;&nbsp;</b></td>
                            <td>Holiday Beach Resort Marsa Alam 4<sup><img src="/img/hotel-star.png" align="absmiddle"></sup></td>
                        </tr>
                        <tr>
                            <td><b>Питание&nbsp;&nbsp;</b></td>
                            <td class="card_table_line"><span class="label">завтрак и ужин (HB)</span></td>
                        </tr>
                        <tr>
                            <td><b>Цена&nbsp;&nbsp;</b></td>
                            <td><span class="card_price">28.900</span> руб. <br />
                                <font size="-1"><i><img src="/img/smile.png" align="absmiddle" /><img src="/img/smile.png" align="absmiddle" /><img src="/img/smile_bw.png" align="absmiddle" /><img src="/img/smile_bw.png" align="absmiddle" /> при размещении в двухместном номере</i></font>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td class="card_table_line">
                                <span class="label success">Цена указана за одного человека.</span>  
                            </td>
                        </tr>
                        <tr>
                            <td><b>Информация&nbsp;&nbsp;</b></td>
                            <td>
                                В цену включено: авиаперелет, трансфер, проживание с указанным питанием, трансфер, страховка.<br />
                                <i style="font-size:90%;">Для некоторых авиакомпаний не включен топливный сбор.<br />
                                Визы (если необходимо) оплачиваются отдельно.</i><br />
                                <span class="label important">Актуальность тура уточняйте у менеджеров по телефону.</span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr> 
        </table> 
    </div>
</div>
<br />
