<% @bo_offset = "bo/баннеры" %>
<div class="bo-offset">
    <div class="bo-banners"><a class="bo-banner_1" href="#"><span>Египет!</span> Снова в продаже!</a></div>
    <br>
    <div class="bo-banners"><a class="bo-banner_2" href="#"><span>Классическая</span> Чехия и Австрия!</a></div>
    <br>
    <div class="bo-banners"><a class="bo-banner_3" href="#"><span>Испания.</span> Виллы</a></div>
    <br>
    <div class="bo-banners"><a class="bo-banner_4" href="#"><span>Weekend</span> в Израиле</a></div>
</div>