<% @bo_offset = "bo/заглушка block_buy_tour" %>
<div class="bo-well bo-offset-right">
    <div class="bo-offset">
        <h4>Заказать тур №282</h4>
        <form id="order-tour-form">
            <label for="order_name">Как вас зовут?</label>
            <input id="order_name"/>
            <label for="order_phone">Номер телефона</label>
            <input id="order_phone"/>
            <label for="order_email">Электронная почта</label>
            <input id="order_email"/> 
            <label for="order_number_of_people">Сколько человек едет в тур?</label>
            <input id="order_number_of_people"/> 
            <label for="order_comment">Доп. информация</label>
            <input id="order_comment"/>
            <br/><br/>
            <button class="btn success">Отправить заявку!</button>
            <br/><br/>
        </form>
    </div>
</div>