<% @bo_offset = "bo/подобрать тур" %>
<div class="bo-offset">
    <h3>Не подобрать тур?</h3>
    <p>Мы найдем лучшие туры и свяжемся с вами.</p>
    <button  data-controls-modal="modal-tourquery" data-backdrop="true" data-keyboard="true" class="btn success">Оставьте заявку</button>
</div>