<% @bo_offset = "bo-wrapper/шапка" %>
<div class="bo-wrapper"> <br>
    <div class="row">
      <div class="span4">
        <div class="bo-offset"><a href="/"><img src="/img/logo.png"></a></div>
      </div>
      <div class="span6">
        <h3>Где купить туры в Петербурге?</h3>
        <p><span class="label">(812)</span> <span class="bo-top-phone">643-34-94</span> <small>(много линий)</small><br>
          <a  href="#" class="bo-callback-link" data-controls-modal="modal-callback" data-backdrop="true" data-keyboard="true">заказать обратный звонок</a></p>
        <p><a href="#" class="bo-link-decor">Адрес офиса турфирмы</a></p>
      </div>
      <div class="span6">
        <div class="bo-subscribe-block">
          <h3>Подписаться на горящие туры</h3>
          <form action="/" method="post">
            <input class="span2"  name="email" type="text" placeholder="@"/>
            <button type="submit" class="btn danger">Хочу туры и акции!</button>
          </form>
        </div>
        <!-- Добавление в закладки start -->
        <div class="bo-share">
          <div style="float:left;">рассказать всем:&nbsp;&nbsp;</div>
          <div class="addthis_toolbox addthis_default_style "> <a class="addthis_button_facebook"> </a> <a class="addthis_button_google_plusone" g:plusone:annotation="none" g:plusone:size="small" style="position:relative; display:inline-block;"> </a> <a class="addthis_button_preferred_2" style="cursor:pointer;" tw:count="none"> </a> <a class="addthis_button_livejournal" style="cursor:pointer;" title="написать в ЖЖ"> </a> <a class="addthis_button_vk" style="cursor:pointer;" title="рассказать в контакте"> </a> <a class="addthis_button_my.ya.ru" style="cursor:pointer;" title="поделиться на Я.ру"> </a> <a class="addthis_button_more" href="http://www.addthis.com/bookmark.php?v=250&username=ra-4d6a2f606b99b10b"> </a> </div>
        </div>
        <!-- Добавление в закладки end --> 
      </div>
    </div>