<% @bo_offset = "bo/горящие туры" %>
<div class="bo-well bo-offset-right">
    <div class="bo-offset">
        <h2 class="bo-hot">Горящие туры</h2>
    </div>
    <div class="bo-well-bg">
        <div class="bo-offset" style="padding-bottom: 10px;">
            <form action="/" method="post">
                <input class="span4 error" id="email" name="email" size="16" type="text" placeholder="@"/>
                <button type="submit" class="btn">Подписаться на горящие туры и акции!</button>
            </form>
        </div>
    </div>
    <table class="zebra-striped bo-hot-table" id="sortTableExample">
    <thead>
        <tr>
            <th width="27%" class="orange">Куда</th>
            <th width="27%" class="orange">Когда и насколько</th>
            <th width="27%" class="orange">Отель</th>
            <th width="19%" class="orange">Стоимость</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="#" class="bo-link-decor">Тур в Мексику</a><br>
            Канкун, п-ов Юкатан, Карибское побережье</td>
            <td>Заезд 22 декабря <br>
            на 10 ночей</td>
            <td>Dos Playas <nobr>3<sup><img src="/img/hotel-star.png"></sup></td>
            <td><span class="bo-hot-price">85.000 р.</span> <span class="label">за 2 взрослых</span></td>
        </tr>
        <tr>
            <td><a href="#" class="bo-link-decor">Тур в Тайланд</a><br>
            Паттайя</td>
            <td>Заезд 11 января <br>
            на 14 ночей</td>
            <td>Royal Cliff Beach Hotel <nobr>5<sup><img src="/img/hotel-star.png"></sup></td>
            <td><span class="bo-hot-price">81.000 р.</span> <span class="label">за 2 взрослых</span></td>
        </tr>
        <tr>
            <td><a href="#" class="bo-link-decor">Тур в Египет</a><br>
              Хургада</td>
            <td>Заезд 17 января <br>
              на 7 ночей</td>
            <td>Express Hrg <nobr>5<sup><img src="/img/hotel-star.png"></sup></nobr></td>
            <td><span class="bo-hot-price">32.000 р.</span> <span class="label">за 2 взрослых</span></td>
        </tr>
        <tr>
            <td><a href="#" class="bo-link-decor">Тур в ОАЭ</a><br>
              Шарджа</td>
            <td>Заезд 22 января <br>
              на 12 ночей</td>
            <td>Al Busten Hotels Flats <nobr>4<sup><img src="/img/hotel-star.png"></sup></td>
            <td><span class="bo-hot-price">24.000 р.</span> <span class="label">за 2 взрослых</span></td>
        </tr>
        <tr>
            <td><a href="#" class="bo-link-decor">Тур в Мексику</a><br>
              Канкун, п-ов Юкатан, Карибское побережье</td>
            <td>Заезд 22 декабря <br>
              на 10 ночей</td>
            <td>Dos Playas <nobr>3<sup><img src="/img/hotel-star.png"></sup></td>
            <td><span class="bo-hot-price">76.000 р.</span> <span class="label">за 2 взрослых</span></td>
        </tr>
        <tr>
            <td><a href="#" class="bo-link-decor">Тур в Тайланд</a><br>
              Паттайя</td>
            <td>Заезд 11 января <br>
              на 14 ночей</td>
            <td>Royal Cliff Beach Hotel <nobr>5<sup><img src="/img/hotel-star.png"></sup></td>
            <td><span class="bo-hot-price">97.000 р.</span> <span class="label">за 2 взрослых</span></td>
        </tr>
        <tr>
            <td><a href="#" class="bo-link-decor">Тур в Египет</a><br>
              Хургада</td>
            <td>Заезд 17 января <br>
              на 7 ночей</td>
            <td>Express Hrg <nobr>5<sup><img src="/img/hotel-star.png"></sup></td>
            <td><span class="bo-hot-price">49.000 р.</span> <span class="label">за 2 взрослых</span></td>
        </tr>
        <tr>
            <td><a href="#" class="bo-link-decor">Тур в ОАЭ</a><br>
              Шарджа</td>
            <td>Заезд 22 января <br>
              на 12 ночей</td>
            <td>Al Busten Hotels Flats <nobr>4<sup><img src="/img/hotel-star.png"></sup></td>
            <td><span class="bo-hot-price">28.000 р.</span> <span class="label">за 2 взрослых</span></td>
        </tr>
    </tbody>
  </table>
</div>