<% @bo_offset = "bo/страны" %>
<div class="bo-well bo-offset">
	<div class="bo-offset">
		<h6>страны</h6>
		<ul class="unstyled">
			<li><span class="b-fg b-fg_TR"><img src="/img/fg.png"/></span> <a href="#" class="bo-country-link bo-link-decor">Турция</a><br>
				<span  class="bo-flag-offset"><a href="#" class="bo-country-sublink bo-link-decor">туры</a>, <a href="#" class="bo-country-sublink bo-link-decor">отели</a>, <a href="#" class="bo-country-sublink bo-link-decor">курорты</a></span></li>
			<li><span class="b-fg b-fg_GR"><img src="/img/fg.png"/></span> <a href="#" class="bo-country-link bo-link-decor">Греция</a><br>
				<span  class="bo-flag-offset"><a href="#" class="bo-country-sublink bo-link-decor">туры</a>, <a href="#" class="bo-country-sublink bo-link-decor">отели</a>, <a href="#" class="bo-country-sublink bo-link-decor">курорты</a></span></li>
			<li><span class="b-fg b-fg_EG"><img src="/img/fg.png"/></span> <a href="#" class="bo-country-link bo-link-decor">Египет</a><br>
				<span  class="bo-flag-offset"><a href="#" class="bo-country-sublink bo-link-decor">туры</a>, <a href="#" class="bo-country-sublink bo-link-decor">отели</a>, <a href="#" class="bo-country-sublink bo-link-decor">курорты</a></span></li>
			<li><span class="b-fg b-fg_TH"><img src="/img/fg.png"/></span> <a href="#" class="bo-country-link bo-link-decor">Тайланд</a><br>
				<span  class="bo-flag-offset"><a href="#" class="bo-country-sublink bo-link-decor">туры</a>, <a href="#" class="bo-country-sublink bo-link-decor">отели</a>, <a href="#" class="bo-country-sublink bo-link-decor">курорты</a></span></li>
			<li><span class="b-fg b-fg_CY"><img src="/img/fg.png"/></span> <a href="#" class="bo-country-link bo-link-decor">Кипр</a><br>
				<span  class="bo-flag-offset"><a href="#" class="bo-country-sublink bo-link-decor">туры</a>, <a href="#" class="bo-country-sublink bo-link-decor">отели</a>, <a href="#" class="bo-country-sublink bo-link-decor">курорты</a></span></li>
			<li><span class="b-fg b-fg_ES"><img src="/img/fg.png"/></span> <a href="#" class="bo-country-link bo-link-decor">Испания</a><br>
				<span  class="bo-flag-offset"><a href="#" class="bo-country-sublink bo-link-decor">туры</a>, <a href="#" class="bo-country-sublink bo-link-decor">отели</a>, <a href="#" class="bo-country-sublink bo-link-decor">курорты</a></span></li>
			<li><span class="b-fg b-fg_IT"><img src="/img/fg.png"/></span> <a href="#" class="bo-country-link bo-link-decor">Италия</a><br>
				<span  class="bo-flag-offset"><a href="#" class="bo-country-sublink bo-link-decor">туры</a>, <a href="#" class="bo-country-sublink bo-link-decor">отели</a>, <a href="#" class="bo-country-sublink bo-link-decor">курорты</a></span></li>
			<li><span class="b-fg b-fg_CU"><img src="/img/fg.png"/></span> <a href="#" class="bo-country-link bo-link-decor">Куба</a><br>
				<span  class="bo-flag-offset"><a href="#" class="bo-country-sublink bo-link-decor">туры</a>, <a href="#" class="bo-country-sublink bo-link-decor">отели</a>, <a href="#" class="bo-country-sublink bo-link-decor">курорты</a></span></li>
			<li><span class="b-fg b-fg_AE"><img src="/img/fg.png"/></span> <a href="#" class="bo-country-link bo-link-decor">ОАЭ</a><br>
				<span  class="bo-flag-offset"><a href="#" class="bo-country-sublink bo-link-decor">туры</a>, <a href="#" class="bo-country-sublink bo-link-decor">отели</a>, <a href="#" class="bo-country-sublink bo-link-decor">курорты</a></span></li>
			<li><span class="b-fg b-fg_BR"><img src="/img/fg.png"/></span> <a href="#" class="bo-country-link bo-link-decor">Бразилия</a><br>
				<span  class="bo-flag-offset"><a href="#" class="bo-country-sublink bo-link-decor">туры</a>, <a href="#" class="bo-country-sublink bo-link-decor">отели</a>, <a href="#" class="bo-country-sublink bo-link-decor">курорты</a></span></li>
			<li><span class="b-fg b-fg_TR"><img src="/img/fg.png"/></span> <a href="#" class="bo-country-link bo-link-decor">Великобритания</a><br>
				<span  class="bo-flag-offset"><a href="#" class="bo-country-sublink bo-link-decor">туры</a>, <a href="#" class="bo-country-sublink bo-link-decor">отели</a>, <a href="#" class="bo-country-sublink bo-link-decor">курорты</a></span></li>
			<li><span class="b-fg b-fg_TR"><img src="/img/fg.png"/></span> <a href="#" class="bo-country-link bo-link-decor">Иордания</a><br>
				<span  class="bo-flag-offset"><a href="#" class="bo-country-sublink bo-link-decor">туры</a>, <a href="#" class="bo-country-sublink bo-link-decor">отели</a>, <a href="#" class="bo-country-sublink bo-link-decor">курорты</a></span></li>
			<li><span class="b-fg b-fg_TR"><img src="/img/fg.png"/></span> <a href="#" class="bo-country-link bo-link-decor">Маврикий</a><br>
				<span  class="bo-flag-offset"><a href="#" class="bo-country-sublink bo-link-decor">туры</a>, <a href="#" class="bo-country-sublink bo-link-decor">отели</a>, <a href="#" class="bo-country-sublink bo-link-decor">курорты</a></span></li>
			<li><span class="b-fg b-fg_TR"><img src="/img/fg.png"/></span> <a href="#" class="bo-country-link bo-link-decor">Мальдивы</a><br>
				<span  class="bo-flag-offset"><a href="#" class="bo-country-sublink bo-link-decor">туры</a>, <a href="#" class="bo-country-sublink bo-link-decor">отели</a>, <a href="#" class="bo-country-sublink bo-link-decor">курорты</a></span></li>
			<li><span class="b-fg b-fg_TR"><img src="/img/fg.png"/></span> <a href="#" class="bo-country-link bo-link-decor">Швейцария</a><br>
				<span  class="bo-flag-offset"><a href="#" class="bo-country-sublink bo-link-decor">туры</a>, <a href="#" class="bo-country-sublink bo-link-decor">отели</a>, <a href="#" class="bo-country-sublink bo-link-decor">курорты</a></span></li>
			<li><span class="b-fg b-fg_TR"><img src="/img/fg.png"/></span> <a href="#" class="bo-country-link bo-link-decor">Мексика</a><br>
				<span  class="bo-flag-offset"><a href="#" class="bo-country-sublink bo-link-decor">туры</a>, <a href="#" class="bo-country-sublink bo-link-decor">отели</a>, <a href="#" class="bo-country-sublink bo-link-decor">курорты</a></span></li>
			<li><span class="b-fg b-fg_TR"><img src="/img/fg.png"/></span> <a href="#" class="bo-country-link bo-link-decor">Сейшелы</a><br>
				<span  class="bo-flag-offset"><a href="#" class="bo-country-sublink bo-link-decor">туры</a>, <a href="#" class="bo-country-sublink bo-link-decor">отели</a>, <a href="#" class="bo-country-sublink bo-link-decor">курорты</a></span></li>
			<li><span class="b-fg b-fg_TR"><img src="/img/fg.png"/></span> <a href="#" class="bo-country-link bo-link-decor">Франция</a><br>
				<span  class="bo-flag-offset"><a href="#" class="bo-country-sublink bo-link-decor">туры</a>, <a href="#" class="bo-country-sublink bo-link-decor">отели</a>, <a href="#" class="bo-country-sublink bo-link-decor">курорты</a></span></li>
			<li><span class="b-fg b-fg_TR"><img src="/img/fg.png"/></span> <a href="#" class="bo-country-link bo-link-decor">Чехия</a><br>
				<span  class="bo-flag-offset"><a href="#" class="bo-country-sublink bo-link-decor">туры</a>, <a href="#" class="bo-country-sublink bo-link-decor">отели</a>, <a href="#" class="bo-country-sublink bo-link-decor">курорты</a></span></li>
			<li><span class="b-fg b-fg_TR"><img src="/img/fg.png"/></span> <a href="#" class="bo-country-link bo-link-decor">Китай</a><br>
				<span  class="bo-flag-offset"><a href="#" class="bo-country-sublink bo-link-decor">туры</a>, <a href="#" class="bo-country-sublink bo-link-decor">отели</a>, <a href="#" class="bo-country-sublink bo-link-decor">курорты</a></span></li>
			<li><span class="b-fg b-fg_TR"><img src="/img/fg.png"/></span> <a href="#" class="bo-country-link bo-link-decor">Финляндия</a><br>
				<span  class="bo-flag-offset"><a href="#" class="bo-country-sublink bo-link-decor">туры</a>, <a href="#" class="bo-country-sublink bo-link-decor">отели</a>, <a href="#" class="bo-country-sublink bo-link-decor">курорты</a></span></li>
			<li><span class="b-fg b-fg_TR"><img src="/img/fg.png"/></span> <a href="#" class="bo-country-link bo-link-decor">Индия</a><br>
				<span  class="bo-flag-offset"><a href="#" class="bo-country-sublink bo-link-decor">туры</a>, <a href="#" class="bo-country-sublink bo-link-decor">отели</a>, <a href="#" class="bo-country-sublink bo-link-decor">курорты</a></span></li>
			<li><span class="b-fg b-fg_TR"><img src="/img/fg.png"/></span> <a href="#" class="bo-country-link bo-link-decor">Шри-Ланка</a><br>
				<span  class="bo-flag-offset"><a href="#" class="bo-country-sublink bo-link-decor">туры</a>, <a href="#" class="bo-country-sublink bo-link-decor">отели</a>, <a href="#" class="bo-country-sublink bo-link-decor">курорты</a></span></li>
		</ul>
		<div class="bo-offset">&nbsp;<a href="#" class="btn">все страны &raquo;</a></div>
		<br>
	</div>
</div>