<% @bo_offset = "bo/подвал" %>
<footer>
    <div class="row">
        <div class="span4">
            <div class="bo-offset"><a href="#"  class="bo-link-decor">Компания</a><br>
                <a href="#"  class="bo-link-decor">Все горящие туры</a></div>
            </div>
            <div class="span4"><a href="#"  class="bo-link-decor">Туры по Европе</a><br>
                <a href="#"  class="bo-link-decor">Туры в Скандинавию</a>
            </div>
            <div class="span4"><a href="#"  class="bo-link-decor">Услуги турфирмы</a><br>
                <a href="#"  class="bo-link-decor">Подарки, скидки, акции</a>
            </div>
            <div class="span4"><a href="#"  class="bo-link-decor">Туристам</a><br>
                <a href="#"   class="bo-link-decor">Виды туризма</a>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="span-one-third">
                <div class="bo-offset">
                    <p>&copy; 2009-2012 ООО «Бюро Отпусков»</p>
                </div>
            </div>
            <div class="span-one-third">
                <p><span class="label">(812)</span> <span class="bo-top-phone">643-34-94</span> <small>(много линий)</small><br>
                <a  href="#" class="bo-callback-link" data-controls-modal="modal-callback" data-backdrop="true" data-keyboard="true">заказать обратный звонок</a></p>
            </div>
            <div class="span-one-third"><a href="mailto:namore@burootpuskov.ru" class="bo-link-decor" >namore@burootpuskov.ru</a><br>
                <a href="#" class="bo-link-decor" >карта сайта</a>
            </div>
        </div>
    </div>
  </footer>