<% @bo_offset = "bo/популярно" %>
<div class="bo-well bo-offset-right">
	<div class="bo-offset">
		<h3>Популярные туры из Санкт-Петербурга</h3>
	</div>
	<div class="bo-well-bg">
		<div class="bo-offset"><a href="#" class="bo-link-decor bo-link-subcolor">экскурсионные туры</a>, <a href="#" class="bo-link-decor bo-link-subcolor">лечение за границей</a>, <a href="#" class="bo-link-decor bo-link-subcolor">круизы</a>, <a href="#" class="bo-link-decor bo-link-subcolor">туры по Европе</a>, <a href="#" class="bo-link-decor bo-link-subcolor">туры в Скандинавию</a></div>
	</div>
	<br>
	<div class="bo-search-by-countries bo-offset">
		<ul class="unstyled">
			<li><a href="#" title="Австрия">Австрия</a> от 21.170 р.<br>
			</li>
			<li><a href="#" title="Болгария">Болгария</a> от 16.721 р.<br>
			</li>
			<li><a href="#" title="Бразилия">Бразилия</a> от 195.971 р.<br>
			</li>
			<li><a href="#" title="Великобритания">Великобритания</a> от 30.069 р.<br>
			</li>
			<li><a href="#" title="Венгрия">Венгрия</a> от 22.955 р.<br>
			</li>
			<li><a href="#" title="Вьетнам">Вьетнам</a> от 46.024 р.<br>
			</li>
			<li class="important"><a href="#" title="Греция">Греция</a> от 7.964 р.<br>
				<span class="label warning">популярное направление</span> </li>
			<li><a href="#" title="Дания">Дания</a> от 17.713 р.<br>
			</li>
			<li class="important"><a href="#" title="Египет">Египет</a> от 9.777 р.<br>
				<span class="label warning">популярное направление</span> </li>
			<li><a href="#" title="Израиль">Израиль</a> от 25.648 р.<br>
			</li>
		</ul>
		<ul class="unstyled">
			<li><a href="#" title="Индия">Индия</a> от 37.721 р.<br>
			</li>
			<li><a href="#" title="Индонезия">Индонезия</a> от 47.923 р.<br>
			</li>
			<li><a href="#" title="Иордания">Иордания</a> от 24.939 р.<br>
			</li>
			<li class="important"><a href="#" title="Испания">Испания</a> от 19.413 р.<br>
			</li>
			<li><a href="#" title="Италия">Италия</a> от 14.340 р.<br>
			</li>
			<li class="important"><a href="#" title="Кипр">Кипр</a> от 8.049 р.<br>
				<span class="label warning">популярное направление</span> </li>
			<li><a href="#" title="Китай">Китай</a> от 118.915 р.<br>
			</li>
			<li><a href="#" title="Куба">Куба</a> от 39.591 р.<br>
			</li>
			<li><a href="#" title="Маврикий">Маврикий</a> от 52.457 р.<br>
			</li>
			<li><a href="#" title="Малайзия">Малайзия</a> от 66.826 р.<br>
			</li>
		</ul>
		<ul class="unstyled">
			<li><a href="#" title="Мальдивы">Мальдивы</a> от 40.583 р.<br>
			</li>
			<li><a href="#" title="Мальта">Мальта</a> от 18.506 р.<br>
			</li>
			<li><a href="#" title="Марокко">Марокко</a> от 14.255 р.<br>
			</li>
			<li><a href="#" title="Мексика">Мексика</a> от 57.020 р.<br>
			</li>
			<li><a href="#" title="Нидерланды">Нидерланды</a> от 31.486 р.<br>
			</li>
			<li><a href="#" title="ОАЭ">ОАЭ</a> от 14.340 р.<br>
			</li>
			<li><a href="#" title="Сейшелы">Сейшелы</a> от 51.607 р.<br>
			</li>
			<li><a href="#" title="Словения">Словения</a> от 33.753 р.<br>
			</li>
			<li class="important"><a href="#" title="Тайланд">Тайланд</a> от 26.470 р.<br>
			</li>
			<li class="important"><a href="#" title="Тунис">Тунис</a> от 14.453 р.<br>
			</li>
		</ul>
	</div>
</div>