<% @bo_offset = "bo/баннеры" %>
<div class="bo-well bo-offset-right">
    <div class="bo-offset bo-offset-right">
        <br/>
        <div id="slides">
            <div class="slides_container">
                <div>
                    <img src="http://www.buro-otpuskov.ru/?eID=bo_tour_search_simpleform&amp;action=hotel_image&amp;hotel_id=6044&amp;img_id=1222416802&amp;h=200&amp;w=290" />
                </div>
                <div>
                    <img src="http://www.buro-otpuskov.ru/?eID=bo_tour_search_simpleform&amp;action=hotel_image&amp;hotel_id=6044&amp;img_id=1222416802&amp;h=200&amp;w=290" />
                </div>
                <div>
                    <img src="http://www.buro-otpuskov.ru/?eID=bo_tour_search_simpleform&amp;action=hotel_image&amp;hotel_id=6044&amp;img_id=1222416802&amp;h=200&amp;w=290" />
                </div>
                <div>
                    <img src="http://www.buro-otpuskov.ru/?eID=bo_tour_search_simpleform&amp;action=hotel_image&amp;hotel_id=6044&amp;img_id=1222416802&amp;h=200&amp;w=290" />
                </div>
            </div>
            <div class="prev"><a href="#">&larr;</a></div>
            <div class="next"><a href="#">&rarr;</a></div>
        </div>
    </div>
</div>