<% @bo_offset = "bo/топбар" %>
<div class="topbar" data-dropdown="dropdown" >
    <div class="fill">
        <div class="container">
            <div class="row show-grid">
                <div class="span13">
                    <ul class="nav">
                        <li class="dropdown"> <a href="#" class="dropdown-toggle">Туры и услуги</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Поиск тура</a></li>
                                <li><a href="#">Горящие туры</a></li>
                                <li><a href="#">Заявка на подбор тура</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Лечение за границей</a></li>
                                <li><a href="#"><nobr>Авиабилеты и ж/д билеты</nobr></a></li>
                                <li><a href="#">Скидки и подарки</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Горящие туры</a></li>
                        <li class="dropdown"> <a href="#" class="dropdown-toggle">Для туристов</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Памятка туристам</a></li>
                                <li><a href="#">Документы в отпуск</a></li>
                                <li><a href="#">Законы</a></li>
                                <li><a href="#"><nobr>Способы бронирования туров</nobr></a></li>
                                <li><a href="#">Как оплатить туры?</a></li>
                                <li><a href="#">Виды туризма</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Частые вопросы</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"> <a href="#" class="dropdown-toggle">Компания</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">О компании</a></li>
                                <li><a href="#">Где купить туры?</a></li>
                                <li><a href="#"><nobr>Почему с нами хорошо отдыхать?</nobr></a></li>
                                <li class="divider"></li>
                                <li><a href="#">Информация для туроператоров</a></li>
                                <li><a href="#">Работа в турфирме</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Скидки и подарки</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
                <div class="span3 bo-topbar-buttons">
                    <button data-controls-modal="modal-login" data-backdrop="true" data-keyboard="true" class="btn small">Вход</button>
                    &nbsp;
                    <button data-controls-modal="modal-reg" data-backdrop="true" data-keyboard="true" class="btn small">Регистрация</button>
                </div>
            </div>
        </div>
    </div>
</div>