<% @bo_offset = "bo/Карта сайта" %>
<div class="bo-well bo-offset-right">
    <div class="bo-offset bo-offset-right">
        <h3>Карта сайта</h3>
        <ul>
            <li><a href="#">Горящие туры</a></li>
            <li><a href="#">Где купить туры?</a></li>
            <li><a href="#">Раннее бронирование туров на 2011 год</a></li>
            <li><a href="#">Турфирма из Санкт-Петербурга «Бюро отпусков» - О компании.</a></li>
            <li><a href="#">Экскурсионные туры по Европе из Санкт-Петербурга</a></li>
            <li><a href="#">Туры в Финляндию и Швецию на пароме из Петербурга | Туры в Скандинавию на пароме из СПБ</a></li>
            <li><a href="#">Туры в турцию</a>
                <ul>
                    <li><a href="#">Анталия</a>
                        <ul>
                            <li><a href="#">Отели Анталии</a></li>
                            <li><a href="#">Курорты Анталии</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Кудашасы</a></li>
                    <li><a href="#">Стамбул</a></li>
                    <li><a href="#">Фетхие</a></li>
                </ul>
            </li>
          
        </ul>
    </div>
</div>