<% @bo_offset = "bo/Где купить туры" %>
<div class="bo-well bo-offset-right">
    <div class="bo-offset bo-offset-right">
        <br />
        <button data-controls-modal="modal-sendsms" data-backdrop="true" data-keyboard="true"style="float:right;margin-right:15px" class="btn success large">Отправить себе смс с адресом</button>
        <h3>Где купить туры</h3>
        <ul class="pills">
            <li class="active"><a href="#">Петербург</a></li>
            <li><a href="#">Другой город</a></li>
        </ul>
        <p>Любимые наши туристы, а также те, кто только собирается ими стать. Звоните нам с <strong>10</strong> до <strong>19</strong> часов c понедельника по субботу (в воскресенье мы отдыхаем, номера мобильных телефонов указаны на наших визитках).</p>
        <p>В любое время пишите нам на почту, отправляйте заявки на подбор тура, изучайте лучшие предложения на сайте и бронируйте отличные туры онлайн.</p>
        <h4>Малая Садовая улица, дом 4, 1 этаж.</h4>
        <p><strong>Вход во двор (сразу по правой стороне).</strong></p>
        <p><strong>(812) 643-34-94</strong></p>
        <a href="#">namore@burootpuskov.ru</a><br /><br />
        <p>Купить туры можно в самом центре Санкт-Петербурга, 5 минут от станции метро <strong>Гостиный Двор</strong>, немного подольше от выхода <srtong>Невский проспект</strong>. А машину всегда можно припарковать на Итальянской улице.</p>
        <p>Офис Бюро отпусков на карте Петербурга (также можно посмотреть на <a href="#">Google.картах</a>)</p>
        <%= render '/partials/map' %><br /><br />
    </div>
</div>