<% @bo_offset = "bo/Регистрация пользователя" %>
<!--Регистрация пользователя-->
<div id="modal-reg" class="modal hide fade">
    <div class="modal-header"> <a href="#" class="close">&times;</a>
        <h3>Регистрация нового пользователя</h3>
    </div>
    <div class="modal-body">
        <div class="alert-message error">
            <p><strong>Вылет отменяется!</strong> Вы не заполнили все поля.</p>
        </div>
        <div class="alert-message success">
            <p><strong>Все ок!</strong> Вот Ваша путевка.</p>
        </div>
        <form action="/" method="post">
            <div class="input">
                <div class="input-prepend"> <span class="add-on">&nbsp;&nbsp;Почта</span>
                    <input class="span5" id="email" name="email" size="16" type="text" placeholder="@"/>
                </div>
                <br>
                <div class="input-prepend"> <span class="add-on">Пароль</span>
                    <input class="span5" id="pass" name="pass" size="16" type="text" />
                </div>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn success">Зарегистрироваться</button>
            </div>
        </form>
    </div>
</div>