<% @bo_offset = "bo/Смена бэкграунда" %>
<!--Смена бэкграунда-->
<div class="bo-toggle">
    <a href="#" data-placement="left" rel='twipsy' title='Включить зиму' onClick="document.body.style.background ='url(/img/bg_winter.jpg)'; document.body.style.backgroundRepeat = 'no-repeat'; document.body.style.backgroundAttachment= 'fixed'; return false;"><img src="/img/snow_flake.png" width="32" height="32"></a><br>
    <a href="#" title='Включить лето' rel='twipsy' onClick="document.body.style.background ='url(/img/bg_summer.jpg)'; document.body.style.backgroundRepeat = 'no-repeat'; document.body.style.backgroundAttachment= 'fixed'; return false;" data-placement="left"><img src="/img/sun.png" width="32" height="32"></a> <br>
</div>